<h1> <%= @sub.title %> </h1>
<div>
<h3>Description</h3>
    <p> <%= @sub.description %></p>
</div>
<br>
<a href="<%= new_sub_post_url(@sub) %>">Make a new post</a>
<br>
<div>
    <ul>
    <% @posts.each do |post| %>
        <li>
        <a href="<%= sub_post_url(post) %>"><%= post.title %></a></li>
    <% end %>

    </ul>
</div>

<div>
    <% if is_moderator? %>
       <a href=" <%= edit_sub_url(@sub) %>">Edit</a>
    <% end %>
</div>